* {
    font-family: "Raleway", Sans-Serif;
}

body {
    padding-top: 50px;
}

a,
a:visited
a:hover,
a:active {
    color: black;
}

#main {
    position: absolute;
}

#logo {
    width: 50%;
    height: 50%;
}

#github {
    width: 64px;
    height: 64px;
    margin: 20px;
}

#linkedin {
    width: 70px;
    height: 64px;
    margin: 20px;
}
