* {
  font-family: "Raleway", Sans-Serif;
}

body {
  padding-top: 50px;
}

img {
  width: 50%;
  height: 50%;
}

a {
  color: black;
}

a,
a:visited,
a:focus,
a:hover,
a:active {
  text-decoration: none;
}
