* {
    font-family: "Raleway";
}

#main {
    position: absolute;

    margin-top: 200px;
}

#github {
    width: 64px;
    height: 64px;
    margin: 20px;
}

#linkedin {
    width: 70px;
    height: 64px;
    margin: 20px;
}
